<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation" parallel="classes" thread-count="2" >
    <test name="QA automation" >
        <classes>
            <class name="com.aleph.steps.runner"/>
        </classes>
    </test>
</suite>